<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#3ed2a7">

	<link rel="shortcut icon" href="./favicon.png" />

	<title>Queue Card</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

	<link rel="stylesheet" href="/vendors/liquid-icon/liquid-icon.min.css" />
	<link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/theme-vendors.min.css" />
	<link rel="stylesheet" href="/css/theme.css" />
	<link rel="stylesheet" href="/css/themes/wave.css" />

	<!-- Head Libs -->
	<script async src="/vendors/modernizr.min.js"></script>

</head>

<body class="lqd-stack-buttons-style-2 header-style-fullscreen">

	<div id="wrap">

		<main id="content" class="content bg-black" data-liquid-stack="false"
			data-stack-options='{"navigation":false,"prevNextButtons":false,"pageNumber":false,"prevNextLabels":{"prev":"Previous","next":"Next"},"effect":"fadeScale", "disableOnMobile": false}'>

			<section class="vc_row fullheight d-flex flex-wrap align-items-center py-5 py-md-0 bg-gigas">
				<div style="width: 75%; margin-left: auto; margin-right: auto; text-align: center;">
					<a class="navbar-brand" href="/" rel="home">
						<span class="navbar-brand-inner">
							<img class="logo-default" src=".//queue_card_assets/WhiteQueueCard.png" alt="Queue Card">
						</span>
					</a>
					<hr>
					<h2 class="text-white" style="margin-top: 0; margin-bottom: 50px;">Terms and Conditions</h2>
					<p class="text-white" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur
						adipisicing
						elit. Cum, nemo dolorum?
						Laborum
						corporis exercitationem animi, ratione hic, iste nam repellendus aperiam magni earum
						ea commodi itaque repudiandae pariatur dolores, reiciendis molestias incidunt omnis
						in ipsa quas dolorum laudantium dolorem. Pariatur, nostrum cumque quibusdam dicta
						veniam molestias eum illo voluptas delectus repudiandae reiciendis maiores alias?
						Dolore, autem? Suscipit quis iusto quos eum libero accusantium, voluptates beatae
						accusamus exercitationem mollitia ratione, laboriosam error quam sint vel tempore,
						quia magni nisi voluptatibus obcaecati optio impedit quas dolor? Quibusdam in eius,
						expedita quia tempora non quam dolores inventore ipsum unde quasi iste sit sunt sed
						architecto beatae, excepturi eveniet delectus amet, magni pariatur assumenda nulla
						iure! Officia libero qui sint nisi autem amet id rem ullam quam porro aliquid, natus
						accusamus debitis nostrum. Tempore cum nihil consequatur quidem totam odio
						voluptatem, quis labore minus incidunt deleniti voluptas sed nobis nostrum? Enim,
						tempore minima cumque porro non assumenda commodi autem harum dolore odit
						cupiditate? Rem velit, in cum, repellat mollitia molestias distinctio ipsa voluptate
						pariatur incidunt ea optio accusamus animi rerum veritatis esse? Dicta quia
						perspiciatis maxime sapiente id obcaecati itaque nemo. Harum eos consectetur itaque
						libero temporibus quisquam suscipit consequatur deserunt modi ex. Labore, animi
						ullam repellat illo mollitia reprehenderit dicta cupiditate soluta excepturi ea eius
						eveniet fugit nisi? Reprehenderit id laudantium quidem aspernatur nobis quaerat
						nulla dicta, error alias nostrum consequatur laboriosam ad asperiores impedit
						commodi, voluptates beatae magnam dignissimos fugit cumque numquam nisi, iure
						veritatis accusantium. Dolor mollitia, est delectus quos eveniet nesciunt voluptate
						atque. Consectetur ipsam voluptatibus voluptatum quae, velit tempora aspernatur in
						sequi hic eveniet, doloremque praesentium. Laudantium odit, aliquam, nostrum
						quibusdam autem nobis perspiciatis deleniti quisquam cum saepe totam doloribus vel
						sunt ipsam dolor sed placeat repellendus. Fugiat modi hic tempora, veritatis nisi
						aperiam atque sed in possimus deserunt est iure harum, quasi repellat asperiores
						neque ducimus temporibus rerum laboriosam rem. Sit ducimus, impedit ea nostrum
						consequatur molestiae incidunt aut. Totam, porro minima voluptatem voluptatibus eos
						rem fugiat animi quo doloremque iusto molestiae officiis dolor cupiditate placeat
						repellat iste odit explicabo, quod nisi atque beatae harum! Vero autem recusandae
						tempore sequi? Quos nisi esse dolorem doloremque rem veniam animi, architecto
						laboriosam eos ea aliquid facilis dignissimos nemo atque qui vero tenetur enim error
						dolores quo officia aut. Officia atque eligendi provident exercitationem a
						consequuntur totam amet debitis fuga soluta quam eius fugiat, alias ex eaque facilis
						rem aperiam quas illum vel quia veniam repellendus! Fugit quidem repellendus iure
						exercitationem non deleniti vel velit esse. Laborum assumenda recusandae minima
						nulla dolor dicta dignissimos enim vel at, repellendus quia accusantium debitis?
						Modi in, excepturi, veniam earum possimus necessitatibus consequuntur nostrum
						commodi quasi ratione quisquam aperiam expedita aut nobis id laboriosam non corrupti
						unde, rerum voluptatum? Praesentium, a pariatur et fugiat minima dolores, at
						consequuntur molestias culpa minus numquam? Vel expedita debitis ducimus fugit,
						dicta harum aperiam nihil labore excepturi eveniet doloremque. A, molestiae totam
						nihil perferendis enim aliquam adipisci similique cumque, eum, commodi fugiat. In
						iste, aliquam magni at assumenda neque provident corporis. Sit, qui id blanditiis
						itaque tempora error dicta. Ipsa cupiditate cumque praesentium velit minima eveniet
						nulla numquam blanditiis explicabo delectus iure, facilis sunt debitis
						necessitatibus repellat amet. Dolore commodi quam, distinctio laborum non qui? Amet
						libero provident nesciunt cum qui numquam accusamus consectetur fuga, alias itaque
						quam architecto voluptate dicta voluptatem eveniet laboriosam? Autem reiciendis quod
						impedit nemo eveniet, sapiente, magni dolores eum mollitia libero odio! Itaque,
						temporibus labore omnis animi ratione cum nemo nisi accusamus ea tempora minus totam
						molestias commodi at ullam eum quia qui, veritatis inventore cupiditate eligendi
						reprehenderit quibusdam dolorum sunt! Esse, voluptatem. Veritatis ratione
						perspiciatis asperiores eligendi, magni consequatur! Distinctio odio molestiae
						voluptates? Ratione quaerat rerum mollitia rem error, modi doloribus id beatae eaque
						earum quia ut veniam numquam dignissimos! Est qui repellendus neque distinctio
						veritatis earum pariatur eligendi facilis quos totam, debitis doloremque ut
						necessitatibus odio consectetur vitae illo repellat enim, non dolorem obcaecati.
						Laboriosam perspiciatis quae vero in labore similique possimus, ipsum et eligendi
						facere eius provident impedit nobis aperiam exercitationem necessitatibus asperiores
						quasi inventore delectus quo omnis quos animi. Dolore, enim omnis. Veritatis, illo?
						Labore, autem! Ratione repellendus cupiditate assumenda blanditiis veniam, quo totam
						doloremque asperiores officiis rem reiciendis odio dolore voluptatem adipisci
						eligendi laborum illo, aperiam aliquam neque iste quia aspernatur at animi? Commodi
						vel aut corporis molestiae, minus porro nisi ullam nemo doloremque libero quasi
						vitae, iusto corrupti. Accusantium amet numquam corporis nam sint, laudantium quo?
						Labore repellendus, consequuntur eos id unde a quos distinctio vel? Animi quibusdam
						ut tenetur repellendus soluta rerum accusamus inventore deserunt numquam fugit?
						Delectus, temporibus laboriosam? Quis itaque eum eius perspiciatis fuga atque iure,
						explicabo recusandae molestiae, obcaecati culpa voluptate commodi! Velit explicabo
						necessitatibus enim autem provident, soluta, nam est ipsam qui nihil molestias iusto
						sapiente eligendi eum obcaecati praesentium in ducimus repellendus voluptatum?
						Ipsam, maxime sint animi nobis veritatis excepturi necessitatibus voluptas omnis
						nihil libero quam veniam sequi quaerat reprehenderit natus esse corrupti dolorem,
						itaque non voluptatum totam ratione. Dicta ab et non quas provident eos laboriosam
						veniam incidunt consectetur reiciendis sed consequatur labore recusandae vitae
						officia qui beatae nisi quidem tempora tenetur minima, hic, aspernatur repellendus
						laborum. Vitae quibusdam consectetur animi harum obcaecati inventore vel voluptas
						similique itaque, soluta cumque ducimus, culpa qui aperiam. Quisquam maiores atque
						blanditiis. Facilis obcaecati rerum ratione eaque aut quod quam ipsam nostrum, iste
						mollitia! Sapiente voluptatibus sit fugiat consequuntur. Corporis numquam minima
						earum beatae quis aliquam dolor, cumque ad esse quasi adipisci? Magnam sint
						asperiores enim possimus autem quod nam est modi corrupti incidunt fugiat, odit
						eveniet fugit delectus mollitia ratione ipsa natus vel, dicta suscipit dolore?
						Tempora soluta fugit, doloremque, aspernatur est earum alias saepe et commodi sunt
						nulla! Aperiam consectetur iusto quibusdam amet incidunt commodi blanditiis
						cupiditate aliquam ad. Illum adipisci obcaecati eos ipsam. Veniam consectetur
						aliquam aliquid vitae maiores. Quas quaerat, eum suscipit nostrum quisquam aut porro
						nihil totam, velit iusto ullam qui voluptatum officiis ea quod. Quaerat maxime,
						totam natus facere cumque vel quidem voluptas incidunt autem dignissimos alias nulla
						ipsum!</p>
					<hr>
				</div>
			</section>


		</main><!-- /#content.content -->

	</div><!-- /#wrap -->

	<script src=".//vendors/jquery.min.js"></script>
	<script src=".//js/theme-vendors.js"></script>
	<script src=".//vendors/pagePiling/dist/jquery.pagepiling.min.js"></script>
	<script src=".//js/theme.min.js"></script>

</body>

</html>